.navbar {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #4b5563;
    font-size: 0.75rem;
    color: white;
    border-radius: 0.125rem;
}

.nav-list {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-link {
    font-size: 0.75rem;
    color: #9ca3af;
    text-decoration: none;
    transition: color 0.2s;
}

.nav-link:hover {
    color: white;
}

.auth-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b5563;
    border-radius: 0.125rem;
    padding: 0.5rem 1rem;
}

.auth-btn {
    font-size: 0.75rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
